// color scheme
$black: rgb(21, 23, 30);
$light-grey: rgb(244, 244, 244);
$medium-grey: rgb(222, 222, 222);

//font-sizes
$size-28-38: calc(28px + (38 - 28) * ((100vw) - 300px) / (2400 - 300));


// General styles
$quick-ease: all .5s ease;